---
title: Deploying Your Product as a Tile in Ops Manager
owner: Ops Manager
---

 <p class='note'><strong>Note</strong>: This topic is part of the [Creating a Pivotal Cloud Foundry® Product Tile](./creating.html) tutorial.  Before beginning this procedure, you should follow the procedure described in [Preparing an Ops Manager Environment](./preparing-ops-man.html).</p>

This topic describes deploying a Cloud Foundry software product as a tile in [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager and provides pointers for how to build your own tile. Tiles ease the process of deploying products to the cloud and provide the following:

- Automated error-checking
- Automated manifest generation
- Lifecycle management for upgrading a product when a new release is published

## <a id='examine-example'></a>Step 1: Download and Examine the Example Product Tile

This step describes how you can build a product tile by examining its contents.

1. On your local workstation, download the latest release (not pre-release) version of the example `.pivotal` product tile, called [Tutorial Tile](https://github.com/pivotal-cf-experimental/ops-manager-example/releases).

1. From the **Installation Dashboard**, click **Import a Product** and select the downloaded file. You should see the example product listed under **Available Products**.
    <%= image_tag 'add-product.png' %>

1. Hover over the example product listing and click **Add**. The product tile should appear under **Installation Dashboard**.
    <%= image_tag 'product-tile.png' %>

1. The example product download contains the source code for your example tile. Change the file extension from `.pivotal` to `.zip` and unzip the file.

1. To learn how Ops Manager product tiles are constructed, compare the example tile configuration screens in Ops Manager with the underlying source files. Specific relevant directories include the following:

    1. Content_migrations <strong>(optional)</strong>: Upgrading versions require migrations.

    1. Metadata <strong>(required)</strong>: This directory includes a product template which renders in Ops Manager, and instructions for how the correlated BOSH manifest is generated.

    1. Releases <strong>(optional)</strong>: This directory contains BOSH releases with the source code for a product. In this case, the release contains the NGINX webserver.

## <a id='build-your-own'></a>Step 2: Build your own Product Tile

Create your own product tile by following the steps in these high level instructions and the linked reference documentation and other resources. Each step requires substantial work.

1. Build and create a BOSH release. The [BOSH documentation](https://bosh.io/) contains information about how to build a release. You can post questions to the BOSH community using the [CF-BOSH mailing list](https://lists.cloudfoundry.org/archives/list/cf-bosh@lists.cloudfoundry.org) and [IRC Channel on Freenode](http://webchat.freenode.net/?channels=bosh).

2. Create a Product Template by using the Example Product Tile as a model. Refer to the [Product Template Reference](./product-template-reference.html) for further clarification.

3. You may consider adding Lifecycle Errands to both your BOSH release and your Product Template. Refer to the [BOSH documentation](https://bosh.io/) and the [Lifecycle Errands](./lifecycle-errands.html) topic for more information.

4. Create directory structure for your product folders, guided by the contents of the [Example Product Tile](https://github.com/pivotal-cf-experimental/ops-manager-example/releases), as described above. Archive the folders into a `.zip` file and import the file into a deployed Ops Manager.

5. SSH into the Ops Manager VM and edit the product template at `/var/tempest/workspaces/default/metadata` to directly make changes to your product tile. After making changes, refresh your browser to see the changes. You can click **Apply Changes** in the PCF Ops Manager Installation Dashboard and view the resulting BOSH manifest in `/var/tempest/workspaces/default/deployments`.

6. You must create a migration file to migrate values in subsequent releases of your product. Refer to the [Migrating Tile Versions](./migrations.html) topic more information about building migrations.
